@using Aiwins.Rocket.AspNetCore.Mvc.UI.Theming
@inject IThemeManager ThemeManager
@{
    Layout = ThemeManager.CurrentTheme.GetAccountLayout();
}
<div class="rocket-account-container">
    @RenderBody()
</div>