@page
@using Aiwins.ClientSimulation.Pages.ClientSimulation
@model Aiwins.ClientSimulation.Pages.ClientSimulation.IndexModel
@section styles {
    <rocket-style-bundle>
        <rocket-style src="/Pages/ClientSimulation/SimulationArea.css" />
    </rocket-style-bundle>
}
@section scripts {
    <rocket-script-bundle>
        <rocket-script src="/Pages/ClientSimulation/SimulationArea.js" />
        <rocket-script src="/Pages/ClientSimulation/Index.js" />
    </rocket-script-bundle>
}
<div id="SimulationArea"></div>