@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Pages.Rocket.MultiTenancy
@using Aiwins.Rocket.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Aiwins.Rocket.AspNetCore.Mvc.UI.MultiTenancy.Localization
@model TenantSwitchModalModel
@inject IHtmlLocalizer<RocketUiMultiTenancyResource> L
@{
    Layout = null;
}
<rocket-dynamic-form rocket-model="@Model.Input" asp-page="/Rocket/MultiTenancy/TenantSwitchModal">
    <rocket-modal>
        <rocket-modal-header title="@L["SwitchTenant"].Value"></rocket-modal-header>
        <rocket-modal-body>
            <rocket-form-content />
            <p>@L["SwitchTenantHint"]</p>
        </rocket-modal-body>
        @* TODO: A "Submit" would be better than "Save"! *@
        <rocket-modal-footer buttons="@(RocketModalButtons.Cancel|RocketModalButtons.Save)"></rocket-modal-footer>
    </rocket-modal>
</rocket-dynamic-form>