@using Aiwins.Rocket.AspNetCore.Mvc.UI.Theme.Shared.Demo.Views.Components.Themes.Shared.Demos.BordersDemo

<rocket-component-demo-section title="Additive" view-path="@BordersDemoViewComponent.ViewPath">
    <span rocket-border="Default"></span>
    <span rocket-border="Top"></span>
    <span rocket-border="Right"></span>
    <span rocket-border="Bottom"></span>
    <span rocket-border="Left"></span>
</rocket-component-demo-section>

<rocket-component-demo-section title="Subtractive" view-path="@BordersDemoViewComponent.ViewPath">
    <span rocket-border="_0"></span>
    <span rocket-border="Top_0"></span>
    <span rocket-border="Right_0"></span>
    <span rocket-border="Bottom_0"></span>
    <span rocket-border="Left_0"></span>
</rocket-component-demo-section>

<rocket-component-demo-section title="Border color" view-path="@BordersDemoViewComponent.ViewPath">
    <span rocket-border="Primary"></span>
    <span rocket-border="Secondary"></span>
    <span rocket-border="Success"></span>
    <span rocket-border="Danger"></span>
    <span rocket-border="Info"></span>
    <span rocket-border="Light"></span>
    <span rocket-border="Dark"></span>
    <span rocket-border="White"></span>
    <br />
    <span rocket-border="Left_Primary"></span>
    <span rocket-border="Top_Secondary"></span>
    <span rocket-border="Right_Success"></span>
    <span rocket-border="Bottom_Danger"></span>
    <span rocket-border="Bottom_Warning"></span>
    <span rocket-border="Left_Info"></span>
    <span rocket-border="Top_Light"></span>
    <span rocket-border="Right_Dark"></span>
</rocket-component-demo-section>

<rocket-component-demo-section title="Border-radius" view-path="@BordersDemoViewComponent.ViewPath">
    <span rocket-border="Primary" rocket-rounded="Default"></span>
    <span rocket-border="Primary" rocket-rounded="_0"></span>
    <span rocket-border="Primary" rocket-rounded="Top"></span>
    <span rocket-border="Primary" rocket-rounded="Left"></span>
    <span rocket-border="Primary" rocket-rounded="Bottom"></span>
    <span rocket-border="Primary" rocket-rounded="Right"></span>
</rocket-component-demo-section>
