@using Aiwins.Rocket.AspNetCore.Mvc.UI.Theme.Shared.Demo.Views.Components.Themes.Shared.Demos.NavbarsDemo

<rocket-component-demo-section title="Example" view-path="@NavbarsDemoViewComponent.ViewPath">
    <rocket-nav-bar size="Lg" navbar-style="Dark_Dark">
        <a rocket-navbar-brand href="#">Navbar</a>
        <rocket-navbar-toggle>
            <rocket-navbar-nav>
                <rocket-nav-item active="true">
                    <a rocket-nav-link href="#">Home <span class="sr-only">(current)</span></a>
                </rocket-nav-item>
                <rocket-nav-item>
                    <a rocket-nav-link href="#">Link</a>
                </rocket-nav-item>
                <rocket-nav-item dropdown="true">
                    <rocket-dropdown>
                        <rocket-dropdown-button nav-link="true" text="Dropdown" />
                        <rocket-dropdown-menu>
                            <rocket-dropdown-header>Dropdown header</rocket-dropdown-header>
                            <rocket-dropdown-item href="#" active="true">Action</rocket-dropdown-item>
                            <rocket-dropdown-item href="#" disabled="true">Another disabled action</rocket-dropdown-item>
                            <rocket-dropdown-item href="#">Something else here</rocket-dropdown-item>
                            <rocket-dropdown-divider />
                            <rocket-dropdown-item href="#">Separated link</rocket-dropdown-item>
                        </rocket-dropdown-menu>
                    </rocket-dropdown>
                </rocket-nav-item>
                <rocket-nav-item>
                    <a rocket-nav-link disabled="true" href="#">Disabled</a>
                </rocket-nav-item>
            </rocket-navbar-nav>
            <span rocket-navbar-text>
                Sample Text
            </span>
        </rocket-navbar-toggle>
    </rocket-nav-bar>
</rocket-component-demo-section>

<rocket-component-demo-section title="Example" view-path="@NavbarsDemoViewComponent.ViewPath">
    <rocket-nav-bar size="Lg" navbar-style="Dark_Primary">
        <a rocket-navbar-brand href="#">Navbar</a>
        <rocket-navbar-toggle>
            <rocket-navbar-nav>
                <rocket-nav-item active="true">
                    <a rocket-nav-link href="#">Home <span class="sr-only">(current)</span></a>
                </rocket-nav-item>
                <rocket-nav-item>
                    <a rocket-nav-link href="#">Link</a>
                </rocket-nav-item>
                <rocket-nav-item dropdown="true">
                    <rocket-dropdown>
                        <rocket-dropdown-button nav-link="true" text="Dropdown" />
                        <rocket-dropdown-menu>
                            <rocket-dropdown-header>Dropdown header</rocket-dropdown-header>
                            <rocket-dropdown-item href="#" active="true">Action</rocket-dropdown-item>
                            <rocket-dropdown-item href="#" disabled="true">Another disabled action</rocket-dropdown-item>
                            <rocket-dropdown-item href="#">Something else here</rocket-dropdown-item>
                            <rocket-dropdown-divider />
                            <rocket-dropdown-item href="#">Separated link</rocket-dropdown-item>
                        </rocket-dropdown-menu>
                    </rocket-dropdown>
                </rocket-nav-item>
                <rocket-nav-item>
                    <a rocket-nav-link disabled="true" href="#">Disabled</a>
                </rocket-nav-item>
            </rocket-navbar-nav>
            <span rocket-navbar-text>
                Sample Text
            </span>
        </rocket-navbar-toggle>
    </rocket-nav-bar>
</rocket-component-demo-section>
