@using Aiwins.Rocket.AspNetCore.Mvc.UI.Theme.Shared.Demo.Views.Components.Themes.Shared.Demos.NavsDemo

<rocket-component-demo-section title="Base nav" view-path="@NavsDemoViewComponent.ViewPath">
    <rocket-nav nav-style="Pill" align="Center">
        <rocket-nav-item>
            <a rocket-nav-link active="true" href="#">Active</a>
        </rocket-nav-item>
        <rocket-nav-item>
            <a rocket-nav-link href="#">Longer nav link</a>
        </rocket-nav-item>
        <rocket-nav-item class="dropdown">
            <rocket-dropdown>
                <rocket-dropdown-button class="text-primary" text="Dropdown button" />
                <rocket-dropdown-menu>
                    <rocket-dropdown-item href="#">Action</rocket-dropdown-item>
                    <rocket-dropdown-item href="#">Another action</rocket-dropdown-item>
                    <rocket-dropdown-item href="#">Something else here</rocket-dropdown-item>
                </rocket-dropdown-menu>
            </rocket-dropdown>
        </rocket-nav-item>
        <rocket-nav-item>
            <a rocket-nav-link href="#">link</a>
        </rocket-nav-item>
        <rocket-nav-item>
            <a rocket-nav-link disabled="true" href="#">disabled</a>
        </rocket-nav-item>
    </rocket-nav>
</rocket-component-demo-section>

<rocket-component-demo-section title="Alignment" view-path="@NavsDemoViewComponent.ViewPath">
    <rocket-nav nav-style="Pill" align="Start">
        <rocket-nav-item>
            <a rocket-nav-link active="true" href="#">Active</a>
        </rocket-nav-item>
        <rocket-nav-item>
            <a rocket-nav-link href="#">Longer nav link</a>
        </rocket-nav-item>
        <rocket-nav-item class="dropdown">
            <rocket-dropdown>
                <rocket-dropdown-button class="text-primary" text="Dropdown button" />
                <rocket-dropdown-menu>
                    <rocket-dropdown-item href="#">Action</rocket-dropdown-item>
                    <rocket-dropdown-item href="#">Another action</rocket-dropdown-item>
                    <rocket-dropdown-item href="#">Something else here</rocket-dropdown-item>
                </rocket-dropdown-menu>
            </rocket-dropdown>
        </rocket-nav-item>
        <rocket-nav-item>
            <a rocket-nav-link href="#">link</a>
        </rocket-nav-item>
        <rocket-nav-item>
            <a rocket-nav-link disabled="true" href="#">disabled</a>
        </rocket-nav-item>
    </rocket-nav>
    <rocket-nav nav-style="Pill" align="Center">
        <rocket-nav-item>
            <a rocket-nav-link active="true" href="#">Active</a>
        </rocket-nav-item>
        <rocket-nav-item>
            <a rocket-nav-link href="#">Longer nav link</a>
        </rocket-nav-item>
        <rocket-nav-item class="dropdown">
            <rocket-dropdown>
                <rocket-dropdown-button class="text-primary" text="Dropdown button" />
                <rocket-dropdown-menu>
                    <rocket-dropdown-item href="#">Action</rocket-dropdown-item>
                    <rocket-dropdown-item href="#">Another action</rocket-dropdown-item>
                    <rocket-dropdown-item href="#">Something else here</rocket-dropdown-item>
                </rocket-dropdown-menu>
            </rocket-dropdown>
        </rocket-nav-item>
        <rocket-nav-item>
            <a rocket-nav-link href="#">link</a>
        </rocket-nav-item>
        <rocket-nav-item>
            <a rocket-nav-link disabled="true" href="#">disabled</a>
        </rocket-nav-item>
    </rocket-nav>
    <rocket-nav nav-style="Pill" align="End">
        <rocket-nav-item>
            <a rocket-nav-link active="true" href="#">Active</a>
        </rocket-nav-item>
        <rocket-nav-item>
            <a rocket-nav-link href="#">Longer nav link</a>
        </rocket-nav-item>
        <rocket-nav-item class="dropdown">
            <rocket-dropdown>
                <rocket-dropdown-button class="text-primary" text="Dropdown button" />
                <rocket-dropdown-menu>
                    <rocket-dropdown-item href="#">Action</rocket-dropdown-item>
                    <rocket-dropdown-item href="#">Another action</rocket-dropdown-item>
                    <rocket-dropdown-item href="#">Something else here</rocket-dropdown-item>
                </rocket-dropdown-menu>
            </rocket-dropdown>
        </rocket-nav-item>
        <rocket-nav-item>
            <a rocket-nav-link href="#">link</a>
        </rocket-nav-item>
        <rocket-nav-item>
            <a rocket-nav-link disabled="true" href="#">disabled</a>
        </rocket-nav-item>
    </rocket-nav>
</rocket-component-demo-section>

<rocket-component-demo-section title="Vertical" view-path="@NavsDemoViewComponent.ViewPath">
    <rocket-nav nav-style="PillVertical" align="Start">
        <rocket-nav-item>
            <a rocket-nav-link active="true" href="#">Active</a>
        </rocket-nav-item>
        <rocket-nav-item>
            <a rocket-nav-link href="#">Longer nav link</a>
        </rocket-nav-item>
        <rocket-nav-item class="dropdown">
            <rocket-dropdown>
                <rocket-dropdown-button class="text-primary" text="Dropdown button" />
                <rocket-dropdown-menu>
                    <rocket-dropdown-item href="#">Action</rocket-dropdown-item>
                    <rocket-dropdown-item href="#">Another action</rocket-dropdown-item>
                    <rocket-dropdown-item href="#">Something else here</rocket-dropdown-item>
                </rocket-dropdown-menu>
            </rocket-dropdown>
        </rocket-nav-item>
        <rocket-nav-item>
            <a rocket-nav-link href="#">link</a>
        </rocket-nav-item>
        <rocket-nav-item>
            <a rocket-nav-link disabled="true" href="#">disabled</a>
        </rocket-nav-item>
    </rocket-nav>
</rocket-component-demo-section>