@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Aiwins.Rocket.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Aiwins.Rocket.Identity.Localization
@model Aiwins.Rocket.Identity.Web.Pages.Identity.Roles.CreateModalModel
@inject IHtmlLocalizer<IdentityResource> L
@{
    Layout = null;
}
<form asp-page="/Identity/Roles/CreateModal">
    <rocket-modal>
        <rocket-modal-header title="@L["NewRole"].Value"></rocket-modal-header>
        <rocket-modal-body>
            <rocket-input asp-for="Role.Name" />
            <rocket-input asp-for="Role.IsDefault" />
            <rocket-input asp-for="Role.IsPublic" />
        </rocket-modal-body>
        <rocket-modal-footer buttons="@(RocketModalButtons.Cancel|RocketModalButtons.Save)"></rocket-modal-footer>
    </rocket-modal>
</form>
